html {
    
    background-image: url("fundo.jpg");
    background-repeat: no-repeat;
    background-position: top, center;
    background-size: 100vw 100vw;
    
    padding: 1px 15px 15px 15px;
    
    
}

body {
    font-size: 45px;
    
}

h1 {
    
    justify-self: center;
    border-bottom: 10px solid mintcream;
    padding: 0 100px 0 100px;
    
}

img {
    
    align-content: vertical;
    
    
}
