html {
    
    background-color: pink;
    border: 22px inset rgb(120, 100, 255);
    max-width: auto;
    padding: 0px 0px 2px 0;
     
    
}

body {
    font-size: 45px;
    
}

h1 {
    
    justify-self: center;
    border-bottom: 10px solid mintcream;
    padding: 0 100px 0 100px;
    
}

img{
    
    align-content: vertical; 
    text-align: start;
    
}

